<footer class="footer">
  <hr>
  <p> <strong>Fecha actual:</strong> {{ fecha() | date:'fullDate' }}</p>
  
  <p> <strong>Desarrollado por:</strong> {{ estudiante() | uppercase }}</p>
  
  <p> <strong>Contacto:</strong> {{ 'dfortmann@est.ups.edu.ec' | lowercase }}</p>

  <p> <strong>Valor del curso:</strong> {{ cursoCosto() | currency:'USD' }}</p>
  
  <p> <strong>Progreso de la práctica:</strong> {{ progreso() | percent }}</p>

  <p>© {{ fecha() | date:'yyyy' }} - Versión {{ version() }}</p>
</footer>